/**********************************************************
************************* GENERAL **************************
**********************************************************/

@keyframes blur {
    0% {
        background: linear-gradient(217deg, rgb(255, 255, 224), rgb(252, 243, 243) 70.71%), linear-gradient(127deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, 255) 70.71%), linear-gradient(336deg, rgba(255, 255, 255, .8), rgba(255, 255, 255) 70.71%);
    }
    25% {
        background-color: rgb(255, 255, 224);
    }
    50% {
        background: linear-gradient(217deg, rgb(255, 255, 224), rgb(252, 243, 243) 70.71%), linear-gradient(127deg, rgba(255, 255, 255, .8), rgb(252, 243, 243) 70.71%), linear-gradient(336deg, rgba(255, 255, 255, .8), rgba(255, 255, 255) 70.71%);
    }
    75% {
        background-color: rgb(255, 255, 224);
    }
    100% {
        background: linear-gradient(217deg, rgb(230, 230, 230), rgb(252, 243, 243) 70.71%), linear-gradient(127deg, rgba(255, 249, 249, 0.8), rgb(252, 243, 243) 70.71%), linear-gradient(336deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, 255) 70.71%);
    }
}


/**********************************************************
************************* HEADER **************************
**********************************************************/


/*********** APPARITION ET DISPARITION DU LOGO ***********/

@-webkit-keyframes logocapsule {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 98%;
    }
    28% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    78% {
        opacity: 100%;
    }
    82% {
        opacity: 100%;
    }
    100% {
        opacity: 98%;
    }
}

@keyframes logocapsule {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 98%;
    }
    28% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    78% {
        opacity: 100%;
    }
    82% {
        opacity: 100%;
    }
    100% {
        opacity: 98%;
    }
}


/*********** APPARITION ET DISPARITION DU LOGO ***********/

@-webkit-keyframes logoulamir {
    0% {
        opacity: 0;
    }
    29% {
        opacity: 0;
    }
    30% {
        opacity: 100%;
    }
    48% {
        opacity: 98%;
    }
    50% {
        opacity: 100%;
    }
    70% {
        opacity: 98%;
    }
    75% {
        opacity: 90%;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logoulamir {
    0% {
        opacity: 0;
    }
    29% {
        opacity: 0;
    }
    30% {
        opacity: 100%;
    }
    48% {
        opacity: 98%;
    }
    50% {
        opacity: 100%;
    }
    70% {
        opacity: 98%;
    }
    75% {
        opacity: 90%;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/********** CHANNGEMENT COULEUR DE BANDEAU NOIR **********/

@keyframes bandeau {
    from {
        color: rgba(226, 222, 222, 0.95);
        background-color: rgba(43, 43, 43, 0.95);
    }
    25% {
        color: rgba(251, 255, 6, 0.95);
        background-color: rgba(70, 70, 70, 0.95);
    }
    60% {
        color: rgba(251, 255, 6, 0.95);
        background-color: rgba(0, 0, 0, 0.95);
    }
    to {
        color: rgba(226, 222, 222, 0.95);
        background-color: rgba(43, 43, 43, 0.95);
    }
}


/*********** CHANNGEMENT ALTERNE DE BACKGROUND ***********/

@keyframes bgcolor {
    0% {
        filter: invert(0);
    }
    50% {
        filter: invert(0.1);
    }
    100% {
        filter: invert(0);
    }
}


/*********** CLIGNOTEMENT DE LA FLECHE DU MENU ***********/

@keyframes flecheMenu {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}


/**********************************************************
************************** BODY ***************************
**********************************************************/


/*********** MOUVEMENT DE LA COULEUR DU TEXTE ***********/

@-webkit-keyframes color {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 600vw;
    }
}

@keyframes color {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 600vw;
    }
}


/*************** CLIGNOTEMENT DE LA FLECHE ***************/

@keyframes fleche {
    from {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}


/*********** APPARITION ET DISPARITION DU TEXTE ***********/

@keyframes slideBody {
    0% {
        margin-top: 0;
    }
    9% {
        margin-top: 0;
    }
    10% {
        margin-top: -100%;
    }
    19% {
        margin-top: -100%;
    }
    20% {
        margin-top: -200%;
    }
    29% {
        margin-top: -200%;
    }
    30% {
        margin-top: -300%;
    }
    69% {
        margin-top: -300%;
    }
    70% {
        margin-top: -400%;
    }
    100% {
        margin-top: -400%;
    }
}

@keyframes svg {
    0% {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23d4cce1' fill-opacity='0.48'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    }
    25% {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23dbc514' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    50% {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23419fcf' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    }
    75% {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23359200' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
    100% {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239294ac' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    }
}


/**********************************************************
*********************** PARTENAIRES ***********************
**********************************************************/

@keyframes slideTree {
    0% {
        margin-top: -300%;
    }
    100% {
        margin-top: 0;
    }
}


/**********************************************************
************************* FOOTER **************************
**********************************************************/

@keyframes slideLogo {
    0% {
        margin-left: 0;
    }
    29% {
        margin-left: 0;
    }
    30% {
        margin-left: -105%;
    }
    31% {
        margin-left: -105%;
    }
    49% {
        margin-left: -105%;
    }
    50% {
        margin-left: -105%;
    }
    51% {
        margin-left: -150%;
    }
    69% {
        margin-left: -150%;
    }
    70% {
        margin-left: -150%;
    }
    71% {
        margin-left: -150%;
    }
    99% {
        margin-left: -150%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes slideLogoSmall {
    0% {
        margin-left: 0;
    }
    29% {
        margin-left: 0;
    }
    30% {
        margin-left: -95%;
    }
    31% {
        margin-left: -95%;
    }
    49% {
        margin-left: -95%;
    }
    50% {
        margin-left: -195%;
    }
    51% {
        margin-left: -195%;
    }
    69% {
        margin-left: -195%;
    }
    70% {
        margin-left: -280%;
    }
    71% {
        margin-left: -280%;
    }
    99% {
        margin-left: -280%;
    }
    100% {
        margin-left: 0;
    }
}


/**********************************************************
************************ NON USED *************************
**********************************************************/

@-webkit-keyframes slideImg {
    0% {
        background-image: url("../img/image2.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    40% {
        background-image: url("../img/image1.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    80% {
        background-image: url("../img/image0.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    100% {
        background-image: url("../img/image2.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
}

@keyframes slideImg {
    0% {
        background-image: url("../img/image2.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    40% {
        background-image: url("../img/image1.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    80% {
        background-image: url("../img/image0.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    100% {
        background-image: url("../img/image2.jpeg");
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
}