:root {
    --une: #30aee9;
    --deux: #e9ae30;
    --trois: #4d7ebc;
    --quatre: #1a9445;
    --cinq: rgb(63, 63, 63);
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 8.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    font-size: 1.5em;
    box-shadow: 2px 2px 8px black;
    z-index: 1;
}

header:hover {
    background-color: white;
}

img {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    margin-left: 1em;
    z-index: 6;
}

img:hover:not(#partenaires) {
    opacity: 90%;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

img.capsule {
    position: relative;
    width: 2em;
    height: auto;
    padding-top: 5%;
    -webkit-animation: 20s logocapsule infinite;
    animation: 20s logocapsule infinite;
    z-index: 1;
}

img.ulamir {
    position: absolute;
    left: 0;
    margin-top: -1.1em;
    width: 2em;
    height: auto;
    -webkit-animation: 20s logoulamir infinite;
    animation: 20s logoulamir infinite;
    z-index: 2;
}

div.menu_container {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    z-index: 5;
}

header>div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 18%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    font-family:Roboto,Arial,sans-serif;
    font-size: 80%;
    color: white;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    opacity: 99%;
    z-index: 5;
}

a.home {
    background-color: var(--une);
    -webkit-animation: 10s ease-in-out bgcolor infinite;
    animation: 10s ease-in-out bgcolor infinite;
}

a#contact {
    background-color: var(--deux);
    -webkit-animation: 11s ease-in-out bgcolor infinite;
    animation: 11s ease-in-out bgcolor infinite;
}

a.lien1 {
    background-color: var(--trois);
    -webkit-animation: 12s ease-in-out bgcolor infinite;
    animation: 12s ease-in-out bgcolor infinite;
}

a.lien2 {
    background-color: var(--une);
    -webkit-animation: 13s ease-in-out bgcolor infinite;
    animation: 13s ease-in-out bgcolor infinite;
}

a.lien3 {
    background-color: var(--quatre);
    -webkit-animation: 14s ease-in-out bgcolor infinite;
    animation: 14s ease-in-out bgcolor infinite;
}

.home:hover,
#contact:hover,
.lien1:hover,
.lien2:hover,
.lien3:hover {
    background-color: var(--cinq);
    color: rgb(255, 255, 255);
    background-blend-mode: difference;
    opacity: 100%;
}

@media screen and (max-width: 450px) {
    header>div a {
        font-size: 60%;
    }
    header {
        height: 6%;
    }
    img.ulamir {
        position: absolute;
        left: 0;
    }
}

@media screen and (max-height: 450px) {
    header>div a {
        font-size: 80%;
    }
    header {
        height: 3em;
    }
    img.ulamir {
        position: absolute;
        left: 0;
    }
}