    @import 'reset.css';
    @import 'header.css';
    @import 'animations.css';
    @import 'footer.css';
    @font-face {
        font-family: "Signika-Bold";
        src: url('Signika-Bold.ttf');
    }
    
    body {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 120vh;
        overflow: hidden;
        z-index: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    p {
        text-align: center;
        font-family: Signika-Bold, verdana, sans-sérif;
        color: rgba(0, 0, 0, 0.95);
        line-height: 1.2em;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2#fleche {
        font-size: 6em;
        animation: 1.5s ease-in-out fleche infinite;
        opacity: 100%;
    }
    
    h2 {
        font-size: 3em;
    }
    
    h3 {
        font-size: 2em;
    }
    
    p {
        text-align: justify;
        font-size: 1.8em;
        padding: 0 10% 10% 10%;
    }
    /**********************************************************
************************ CONTAINER ************************
**********************************************************/
    
    #container {
        display: grid;
        grid-template-areas: "item1" "item2" "item3" "item4" "item5";
        grid-template-rows: 100% 100% 100% 100% 100%;
        grid-template-columns: 100%;
        align-items: center;
        justify-items: center;
        align-content: space-between;
        justify-content: space-around;
        position: relative;
        overflow-x: hidden;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
        z-index: 0;
    }
    
    #container div {
        display: block;
        position: relative;
        left: 0;
        top: -10%;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
    
    .item1 {
        grid-area: item1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    svg {
        padding-top: 2%;
        width: 5%;
        height: auto;
        animation: 1s ease-in-out fleche infinite;
    }
    
    .item2 {
        grid-area: item2;
        padding: 0 20% 0% 20%;
        width: 100%;
        background-color: #2479e9;
    }
    
    .item3 {
        grid-area: item3;
        padding: 0 20% 0 20%;
        background: linear-gradient(#000000, #585858);
    }
    
    .item4 {
        grid-area: item4;
        width: 100%;
        height: auto;
    }
    
    .item5 {
        grid-area: item5;
        padding: 0 20% 0 20%;
        background: linear-gradient(#190a50, #30098b);
    }
    
    @media screen and (max-width: 1024px) {
        h1,
        h2,
        h3,
        h4,
        p {
            text-align: center;
            font-family: Signika-Bold, verdana, sans-sérif;
            color: rgba(0, 0, 0, 0.95);
            line-height: 1.2em;
        }
        h1 {
            font-size: 1.7em;
        }
        h2 {
            font-size: 1.3em;
        }
        h2#fleche {
            font-size: 3em;
            animation: 3s ease-in-out fleche infinite;
            opacity: 100%;
        }
        h3 {
            font-size: 120%;
        }
        p {
            text-align: justify;
            font-size: 120%;
        }
        #container {
            display: grid;
            grid-template-areas: "item1" "item2" "item3" "item4" "item5";
            grid-template-rows: 100% 100% 100% 100% 100%;
            grid-template-columns: 100%;
            align-items: center;
            justify-items: center;
            align-content: space-between;
            justify-content: space-around;
            position: relative;
            overflow-x: hidden;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            z-index: 0;
        }
        div {
            display: block;
            position: relative;
            left: 0;
            top: -10%;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
        }
        .item1 {
            grid-area: item1;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            background: linear-gradient(#1a9445, #1ab3a9);
        }
        .item2 {
            grid-area: item2;
            padding: 0 20% 0 20%;
            background: linear-gradient(#190a50, #30098b);
        }
        .item3 {
            grid-area: item3;
            width: 100%;
            height: 100%;
            background: linear-gradient(#2ca0d6, #1a9445);
        }
        .item4 {
            grid-area: item4;
            padding: 0 20% 20% 20%;
            height: auto;
            background-color: #2479e9;
        }
        .item5 {
            grid-area: item5;
            padding: 0 20% 0 20%;
            background: linear-gradient(#000000, #585858);
        }
    }
    
    @media screen and (max-height: 450px) {
        .item1 {
            grid-area: item1;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            background: linear-gradient(#1a9445, #1ab3a9);
        }
        .item2 {
            grid-area: item2;
            height: 100%;
            padding: 0 20% 0 20%;
            background: linear-gradient(#190a50, #30098b);
        }
        .item3 {
            grid-area: item3;
            width: 100%;
            height: 100%;
            background: linear-gradient(#2ca0d6, #1a9445);
        }
        .item4 {
            grid-area: item4;
            padding: 0 20% 20% 20%;
            background-color: #2479e9;
        }
        .item5 {
            grid-area: item5;
            padding: 0 20% 0 20%;
            background: linear-gradient(#000000, #585858);
        }
        img.map {
            padding: 2% 20% 12% 20%;
            height: 90%;
        }
    }