@import 'reset.css';
@import 'animations.css';
@import 'header.css';
@font-face {
    font-family: "Signika";
    src: url('../fonts/Signika-Bold.ttf');
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
    position: relative;
    overflow-x: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;
    font-family: roboto, signika, filson, verdana, sans-sérif;
    z-index: 0;
}

#contact {
    background-color: var(--deux);
}

#ressources {
    background-color: var(--trois);
}

video.bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 140%;
    width: auto;
    height: auto;
    z-index: 0;
    background-size: cover;
}

#activites {
    background-color: var(--une);
}

#actualites {
    background-color: var(--quatre);
}

header {
    top: 0;
    height: 8%;
}

#bandeau_git {
    top: 95%;
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------- TOUTES LES PAGES -------------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

#content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    left: 0;
    top: 12%;
    right: 0;
    bottom: 8vh;
    width: 100%;
    height: 100vh;
    padding-top: 7.5%;
    text-align: justify;
    z-index: 0;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800%;
    height: auto;
    padding: 4% 10% 4% 10%;
    background: #000000;
}

.video_dylan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800%;
    height: 100%;
    padding: 5% 10% 6% 10%;
    overflow: visible;
    background: #000000;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 56%;
    height: auto;
    padding: 2.5% 22% 2% 22%;
    background: linear-gradient(#ffffff, #ecfffe);
}

.tuto {
    display: flex;
    align-items: space-around;
    justify-items: space-around;
    justify-content: center;
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: auto;
    padding-bottom: 1%;
}

a.tuto {
    padding-top: 10%;
    color: rgb(163, 151, 228);
}

a.tuto:hover {
    color: rgb(217, 255, 0);
}

.text:last-child {
    padding-bottom: 10%;
}

.photo {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    width: 60%;
    height: auto;
    padding: 2% 20% 2% 20%;
    background: rgb(19, 19, 19);
}

img {
    align-self: center;
}

.photo_blanc {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    width: 50%;
    height: auto;
    background-color: white;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
--------------------------------------------------- TEXTE --------------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

h1,
h2,
h3 {
    align-self: flex-start;
    color: rgb(0, 0, 0);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.inner {
    color: rgb(40, 25, 121);
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
    line-height: 2.5em;
    color: rgb(40, 25, 121);
}

h2 {
    font-size: 1.8em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.6em;
    line-height: 1.2em;
    padding-bottom: 2%;
}

h3~a {
    color: rgb(0, 0, 0);
    font-size: 2.2em;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 1.3em;
    padding: 1% 2% 1% 2%;
    margin: 1%;
    background: linear-gradient(#000000, #575555);
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
-------------------------------------------- PAGE PARTENAIRES ----------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

#partenaires {
    display: block;
    position: center;
    padding-top: 5vh;
    animation: 35s ease slideTree backwards;
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
-------------------------------------------- PAGE MAINTENANCE ----------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

div#maintenance {
    grid-area: intro;
    position: relative;
    left: 2vw;
    top: 10vh;
    right: 2vw;
    bottom: 10vh;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------- PAGE CONTACT ------------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

.contentContact {
    display: block;
    width: 80%;
    height: 70vh;
    position: absolute;
    left: 10%;
    top: 15%;
    right: 10%;
    bottom: 5%;
    display: grid;
    grid-gap: 0;
    grid-template: 1fr/repeat(20%);
    z-index: 5;
}

form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 2% 0 0 0;
    font-size: 1.5em;
    font-family: signika, filson, verdana, sans-sérif;
    text-align: center;
    color: white;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 2px 15px 15px 2px rgb(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

input,
input[type="submit"],
textarea {
    position: relative;
    top: 0;
    font-size: 1em;
    width: 90%;
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
    border: 2px solid rgb(148, 148, 148);
    border-radius: 2px solid rgba(0, 0, 0, 0.9);
    font-family: signika, filson, verdana, sans-sérif;
    margin: 0 4% 0 4%;
    padding: 2%;
    z-index: 6;
}

textarea {
    height: 30%;
}

input:hover,
input[type="submit"]:hover,
textarea:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(236, 236, 236);
}

input:first-child {
    margin-top: 0;
}

input[type="submit"] {
    width: 100%;
}

.message_validation {
    text-align: center;
    color: blue;
    padding-top: 2%;
    font-family: signika, filson, verdana, sans-sérif;
    font-size: 20px;
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------- PAGE PROJET -------------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

div#projets {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 10%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: 85%;
}

span {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--cinq);
    text-align: center;
    font-size: 180%;
    height: 25%;
    width: 20%;
}
span:not(#bandeau_git) {
    border-radius: 20px;
    line-height: 100%;
    box-shadow: 2px 2px 8px black;
    text-shadow: 1px 1px 2px black;
}

span:first-child {
    background-color: var(--quatre);
}

span:nth-child(2) {
    background-color: var(--une);
}

span:nth-child(3) {
    background-color: var(--deux);
}

span:nth-child(4) {
    background-color: var(--trois);
}

span:nth-child(5) {
    background-color: var(--quatre);
}

span:nth-child(6) {
    background-color: var(--trois);
}

span:nth-child(7) {
    background-color: var(--une);
}

span:nth-child(8) {
    background-color: var(--deux);
}

span:nth-child(9) {
    background-color: var(--quatre);
}

span:nth-child(10) {
    background-color: var(--trois);
}

span:nth-child(11) {
    background-color: var(--deux);
}

span:nth-child(12) {
    background-color: var(--une);
}

span:hover {
    background-color: var(--cinq);
    color: rgb(255, 255, 255);
    background-blend-mode: difference;
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------- PAGE PRESSE -------------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

.article {
    display: block;
    position: relative;
    left: 0;
    top: 5%;
    right: 0;
    padding-bottom: 10%;
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------ FOOTER ----------------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

#bandeau_git {
    display: flex;
    position: fixed;
    left: -0.1em;
    top: 95%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    text-align: center;
    font-family: verdana, sans-sérif;
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 0;
}

.github {
    font-size: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5%;
    padding: 0 0.3% 0.3% 0.3%;
    background-color: rgba(226, 222, 222, 0.95)
}

.github:hover {
    font-size: 110%;
    border-radius: 15%;
}


/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------ MEDIA -----------------------------------------------------
------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
    header {
        top: 0;
        height: 8%;
    }
    #content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: space-between;
        position: relative;
        left: 0;
        top: 5vh;
        right: 0;
        bottom: 5vh;
        width: 100%;
        height: 80vh;
        text-align: justify;
        overflow-x: hidden;
        z-index: 0;
    }
    span {
        width: 48%;
    }
    h1 {
        font-size: 1.5em;
        line-height: 1.8em;
    }
    h2 {
        font-size: 1.2em;
        line-height: 1.4em;
    }
    h3 {
        font-size: 1em;
        line-height: 1.4em;
        padding-bottom: 2%;
    }
    h3~a {
        color: rgb(0, 0, 0);
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
        line-height: 1.2em;
    }
    .video {
        width: 100%;
        height: auto;
        padding: 8% 10% 4% 10%;
    }
    .video_dylan {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
        transform: scale(0.56);
        padding: 60% 50% 60% 50%;
        margin: -10% 50% -2% 50%;
        overflow: hidden;
        background: #000000;
    }
    .text {
        width: 80%;
        height: auto;
        padding: 2.5% 10% 2% 10%;
    }
    .photo {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 60%;
        height: auto;
        padding: 2% 20% 2% 20%;
        transition: 0.5s ease-in-out;
    }
    .photo:hover {
        width: 90%;
        height: auto;
        padding: 6% 10% 6% 5%;
    }
    #bandeau_git {
        display: flex;
        position: fixed;
        left: 0;
        top: 94.5%;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        font-size: 80%;
        text-align: center;
        font-family: verdana, sans-sérif;
        color: rgba(255, 255, 255, 0.95);
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 0;
    }
}

@media screen and (max-width: 450px) {
    header {
        top: 0;
        height: 6%;
    }
}

@media screen and (max-height: 560px) {
    header {
        top: 0;
        height: 4em;
    }
    #bandeau_git {
        height: 5%;
    }
}